<!--<div style="background-color: white; position:relative; left:0; right:0; padding: 10px 30px 30px 30px; margin: auto; margin-top: -280px; margin-bottom: -20px; border-radius:5px; max-width: 1000px; width:auto;">
<div id="boton_inicio"><a href="https://cencosudtorre.zendesk.com/hc/es-419">VOLVER AL INICIO</a></div>-->
<div class="left-marg right-marg top-marg" id="check_message">Comprobando permisos...</div>
<div class="left-marg right-marg top-marg hidden">
  <h1 style="color:black; margin: 20px 0px;">Carpeta de cliente</h1>

  <div class="row padding-bottom">
  <div class="col-xs-12">
<div>
  <ul class="nav nav-pills">
    <li role="presentation" class="active" id="info_cliente"><a href="#">Informativos</a></li>
    <li role="presentation" id="gasto_comun"><a href="#">Gasto común</a></li>
    <li role="presentation" id="alquiler"><a href="#">Alquiler</a></li>
  </ul>
</div>
    </div>
  </div>

<div class="my-activities-table">

    <table class="table">
      <thead>
        <tr>
          <th style="width: 100px;">{{t 'id'}}</th>
          <th>{{t 'subject'}}</th>
        </tr>
      </thead>
      <tbody id="tabla">
      </tbody>
    </table>


</div>
<br><br>
<div id="tickets_pag_container" class="my-activities-table">
  <div id="tickets_forw" class="btn-pagination"></div>
  <div id="tickets_back" class="btn-pagination"></div>
</div>
  
</div>

<script>
  
function timeSince(time){
  
  console.log("Entro");

switch (typeof time) {
    case 'number': break;
    case 'string': time = +new Date(time); break;
    case 'object': if (time.constructor === Date) time = time.getTime(); break;
    default: time = +new Date();
}
var time_formats = [
    [60, 'segundos', 1], // 60
    [120, 'hace 1 minuto', '1 minute from now'], // 60*2
    [3600, 'minutos', 60], // 60*60, 60
    [7200, 'hace 1 hora', '1 hour from now'], // 60*60*2
    [86400, 'horas', 3600], // 60*60*24, 60*60
    [172800, 'Ayer', 'Mañana'], // 60*60*24*2
    [604800, 'días', 86400], // 60*60*24*7, 60*60*24
    [1209600, 'La semana pasada', 'La semana siguiente'], // 60*60*24*7*4*2
    [2419200, 'semanas', 604800], // 60*60*24*7*4, 60*60*24*7
    [4838400, 'El mes pasado', 'El mes siguiente'], // 60*60*24*7*4*2
    [29030400, 'meses', 2419200], // 60*60*24*7*4*12, 60*60*24*7*4
    [58060800, 'El año pasado', 'El año siguiente'], // 60*60*24*7*4*12*2
    [2903040000, 'años', 29030400], // 60*60*24*7*4*12*100, 60*60*24*7*4*12
    [5806080000, 'Last century', 'Next century'], // 60*60*24*7*4*12*100*2
    [58060800000, 'centuries', 2903040000] // 60*60*24*7*4*12*100*20, 60*60*24*7*4*12*100
];
var seconds = (+new Date() - time) / 1000,
    token = 'hace', list_choice = 1;

if (seconds == 0) {
    return 'Ahora'
}
if (seconds < 0) {
    seconds = Math.abs(seconds);
    token = 'desde ahora';
    list_choice = 2;
}
var i = 0, format;
while (format = time_formats[i++])
    if (seconds < format[0]) {
        if (typeof format[2] == 'string')
            return format[list_choice];
        else
            return token + ' ' + Math.floor(seconds / format[2]) + ' ' + format[1];
    }
return time;
}
  
  console.log("Entrada 1");

  
  
  // Código nuevo para recuperar al usuario (hay que generalizarlo, está hecho para un usuario particular)
  

 var registrado ;
$.ajax ({ type: "GET", url: "https://cencosudtorre.zendesk.com/api/v2/users/me.json", dataType: 'json', async: false, headers: { "Authorization": "Basic " + btoa("aldo.caffarena@cencosud.cl" + ":" + "cencosud2015") }, data: '{"username": "' + "aldo.caffarena@cencosud.cl" + '", "password" : "' + "cencosud2015" + '"}', success: function (usuario){ console.log(usuario.user);
 registrado = usuario.user;
 //console.log(registrado);
 if (registrado.user_fields.carpeta_de_cliente == 'con_acceso')
 {setEvents();
   getTickets();
   $(".hidden").removeClass("hidden");
   $("#check_message").addClass("hidden");
 }

 }
  
  
  
  }

 
 );   

   //ana
  function setEvents() {
 $('li#gasto_comun').on('click', function(e) {
  e.stopImmediatePropagation();
  e.preventDefault;
  getTickets('carpeta_gasto_comun');
  $('#gasto_comun').addClass('active');
  $('#info_cliente').removeClass('active');
  $('#alquiler').removeClass('active');
  setEvents;
 });

 $('li#info_cliente').on('click', function(e) {
  e.stopImmediatePropagation();
  e.preventDefault;

  getTickets('ticket_masivo');
  $('#gasto_comun').removeClass('active');
  $('#info_cliente').addClass('active');
  $('#alquiler').removeClass('active');
  setEvents;
 });

 $('li#alquiler').on('click', function(e) {
  e.stopImmediatePropagation();
  e.preventDefault;
  getTickets('carpeta_alquiler');
  $('#gasto_comun').removeClass('active');
  $('#info_cliente').removeClass('active');
  $('#alquiler').addClass('active');
  setEvents;
 });
};




 $('#tickets_back').on('click', function(e) {
  e.preventDefault;
    getTickets(localStorage.current_tab, localStorage.previous_page);
 });

 $('#tickets_forw').on('click', function(e) {
  e.preventDefault;
    getTickets(localStorage.current_tab, localStorage.next_page);
 });

 function getTickets(tag, page) {

  if (tag == undefined) { tag = 'ticket_masivo'; };
  console.log(tag);
  var apiurl = "https://cencosudtorre.zendesk.com/api/v2/search.json?query=organization:" + registrado.user_fields.organization_id + "%20tags:" + tag + "&per_page=25&sort_by=created_at&sort_order=desc";

   $.ajax({
     url: apiurl,
     type: 'GET',
    cors: true,
    xhrFields: {
          withCredentials: true
     },
     dataType: 'json'
   }).done(function(data) {

     var tickets = data.results;

    localStorage.current_tab = tag;
    localStorage.previous_page = data.previous_page;
    localStorage.next_page = data.next_page;

    if (data.previous_page != null)	{
      $('#tickets_back').removeAttr('style');
      $('#tickets_back').html("<a href=\"#\">P&aacute;gina anterior</a>");
    } else {
      $('#tickets_back').attr('style',"display:none;");
      $('#tickets_back').html("");
    }

    if (data.next_page != null)	{
      $('#tickets_forw').removeAttr('style');
      $('#tickets_forw').html("<a href=\"#\">P&aacute;gina siguiente</a>");
    } else {
      $('#tickets_forw').attr('style',"display:none;");
      $('#tickets_forw').html("");
    }

    $('#tabla').html("");

    tickets.forEach(function(entry) {

      switch (entry.status) {
        case 'new': entry.status = 'NUEVO'; break;
        case 'open': entry.status = 'ABIERTO'; break;
        case 'pending': entry.status = 'PENDIENTE'; break;
        case 'on hold': entry.status = 'EN ESPERA'; break;
        case 'solved': entry.status = 'RESUELTO'; break;
        case 'closed': entry.status = 'CERRADO'; break;
      }

      var subj = null;
      entry.custom_fields.forEach(function(i) {
        if (i.id == '36031868') { subj = i.value; }
      });

      $('#tabla').append("<tr><td>" + entry.id + "</td><td><a href=\"https://cencosudtorre.zendesk.com/hc/requests/" + entry.id + "\">" + subj + "</a></td></tr>");
    });

    console.log(tickets);
   });


 }

  
  //ana
  //__________________________________________________________________
  
  // Código viejo
  
  var mydata;
 // $(document).ready(function() {     
  
  
  
  
  $.get("https://cencosudtorre.zendesk.com/api/v2/users/me.json", function (data) { 
  
  
  console.log("Entrada3");
  	mydata = data;
  	
  console.log(JSON.stringify(data));
  console.log(data.user);
 
  	if (data.user.user_fields.carpeta_de_cliente == 'con_acceso')
  {
  	setEvents();
  	getTickets();
  	$(".hidden").removeClass("hidden");
  	$("#check_message").addClass("hidden");
  	
  }
  else
  {
  	$("#check_message").html("No tiene permiso para acceder a esta sección.");	
  }
//}); 
  
  function setEvents() {
  $('li#gasto_comun').on('click', function(e) {
  	e.stopImmediatePropagation();
  	e.preventDefault;
  	getTickets('carpeta_gasto_comun');
		$('#gasto_comun').addClass('active');
  	$('#info_cliente').removeClass('active');
  	$('#alquiler').removeClass('active');
  	setEvents;
  });
  
  $('li#info_cliente').on('click', function(e) {
  	e.stopImmediatePropagation();
  	e.preventDefault;

  	getTickets('ticket_masivo'); 
  	$('#gasto_comun').removeClass('active');
  	$('#info_cliente').addClass('active');
  	$('#alquiler').removeClass('active');
  	setEvents;
  });
  
  $('li#alquiler').on('click', function(e) {
  	e.stopImmediatePropagation();
  	e.preventDefault;	
  	getTickets('carpeta_alquiler'); 
  	$('#gasto_comun').removeClass('active');
  	$('#info_cliente').removeClass('active');
  	$('#alquiler').addClass('active');
  	setEvents;
  });
 };
   
  
  
  
  $('#tickets_back').on('click', function(e) {
  	e.preventDefault;
   	getTickets(localStorage.current_tab, localStorage.previous_page);
  });
  
  $('#tickets_forw').on('click', function(e) {
  	e.preventDefault;
   	getTickets(localStorage.current_tab, localStorage.next_page);
  });

  function getTickets(tag, page) {
  
  	if (tag == undefined) { tag = 'ticket_masivo'; };
  	console.log(tag);
  	var apiurl = "https://cencosudtorre.zendesk.com/api/v2/search.json?query=organization:" + mydata.user.organization_id + "%20tags:" + tag + "&per_page=25&sort_by=created_at&sort_order=desc";
  
    $.ajax({
      url: apiurl,
      type: 'GET',
  		cors: true,
  		xhrFields: {
           withCredentials: true
      },
      dataType: 'json'
    }).done(function(data) {
  
      var tickets = data.results;
  
  		localStorage.current_tab = tag;  		
  		localStorage.previous_page = data.previous_page;
  		localStorage.next_page = data.next_page;

  		if (data.previous_page != null)	{
  			$('#tickets_back').removeAttr('style');
		  	$('#tickets_back').html("<a href=\"#\">P&aacute;gina anterior</a>");
  		} else {
  			$('#tickets_back').attr('style',"display:none;");
  			$('#tickets_back').html("");
  		}
  		
  		if (data.next_page != null)	{
  			$('#tickets_forw').removeAttr('style');
  			$('#tickets_forw').html("<a href=\"#\">P&aacute;gina siguiente</a>");
  		} else {
  			$('#tickets_forw').attr('style',"display:none;");
  			$('#tickets_forw').html("");
  		}
  
  		$('#tabla').html("");
  		
  		tickets.forEach(function(entry) {
  
  			switch (entry.status) {
  				case 'new': entry.status = 'NUEVO'; break;
  				case 'open': entry.status = 'ABIERTO'; break;
  				case 'pending': entry.status = 'PENDIENTE'; break;
  				case 'on hold': entry.status = 'EN ESPERA'; break;
  				case 'solved': entry.status = 'RESUELTO'; break;
  				case 'closed': entry.status = 'CERRADO'; break;
  			}
  
  			var subj = null;
  			entry.custom_fields.forEach(function(i) {
  				if (i.id == '36031868') { subj = i.value; }
  			});
  
  			$('#tabla').append("<tr><td>" + entry.id + "</td><td><a href=\"https://cencosudtorre.zendesk.com/hc/requests/" + entry.id + "\">" + subj + "</a></td></tr>");
  		});
      
  		console.log(tickets);
    });
  
  };
});
</script>





<!--
<div class="custom-main">

<header class="my-activities-header">
  {{breadcrumbs}}
</header>

<nav class="my-activities-nav nav-bordered">
  <ul>
    <li>{{t 'requests'}}</li>
    <li>{{link 'contributions'}}</li>
    <li>{{link 'subscriptions'}}</li>
  </ul>
</nav>
  
  <nav class="my-activities-sub-nav nav-spaced">
  <ul>
    {{#each filters}}
      <li>
        {{#if selected}}
          {{name}}
        {{else}}
          <a href="{{url}}">{{name}}</a>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</nav>

<div class="my-activities-table">
  {{#if contributions}}
    <table>
      <thead>
        <tr>
          <th>{{t 'title'}}</th>
          <th>{{t 'type'}}</th>
          <th>{{t 'vote_sum'}}</th>
          <th>{{t 'last_activity'}}</th>
          <th>{{t 'created'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each contributions}}
          <tr>
            <td>
              <a href="{{url}}">
                {{excerpt title characters=60}}
              </a>
            </td>
            <td>{{type}}</td>
            <td>{{vote_sum}}</td>
            <td>{{date last_activity_at}}</td>
            <td>{{date created_at}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    {{t 'no_contributions'}}
  {{/if}}

  {{pagination}}
</div>

  
</div>

-->