<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
</head>

<body>

<script src="https://cdn.jsdelivr.net/jquery/3.0.0/jquery.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js">

</script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">

</script>

</body>

<script type="text/javascript" src="https://assets.zendesk.com/apps/sdk/2.0/zaf_sdk.js"></script>

<div class="page-header">
    <h1 class="text-center">Motorcycle search <small>whit chassis and engine number</small></h1>
</div>
<!-- Formulario de busqueda principal por numero chasis y numero motor -->
<div id="search_motorcycle" type="text/x-handlebars-template" align="center">
    <br>
    <form>
        <div class="input-group" id="task-form">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input id="num_chassis" type="text" class="form-control" name="n_chassis" placeholder="Ingrese número de chasis..">
        </div>
        <div class="input-group" id="task-form2">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input id="num_engine" type="text" class="form-control" name="n_engine" placeholder="Ingrese número de motor..">
        </div>
        <button id="add-btn" class="btn btn-primary btn-small">
            <span class="glyphicon glyphicon-search"></span>
            Buscar
        </button>
    </form>
    <br>
    <br>
</div>
<!-- Formulario de busqueda principal -->

<div id="info_moto" >
</div>


<!-- Mensaje de error emitido por Zendesk -->
<div id="userError" class="alert alert-danger"></div>
<script id="userErrorInfo" type="text/x-handlebars-template">
    Error: {{error}}
    <br> {{description}}
</script>
<!-- Mensaje de error emitido por Zendesk -->


<!-- Formulario para la creacion de un nuevo Ticket -->
<div id="ticketForm">
    <h3 align="center">Nuevo Ticket</h3>
    <div class="form-group">
        <label for="subject">Titulo</label>
        <input type="text" class="form-control" id="subject">
    </div>
    <div class="form-group">
        <label for="desc">Descripcion:</label> ​
        <textarea class="form-control" rows="4" cols="40" id="desc"></textarea>
    </div>
    <div align="center">
        <button type="button" class="btn btn-primary btn-small" id="botonTicket">
            <span class="glyphicon glyphicon-edit"></span>
            Crear ticket
        </button>
    </div>
</div>
<!-- Formulario para la creacion de un nuevo Ticket -->


<!-- Muestra un mensaje una vez creado un ticket -->
<div id="ticket" class="alert alert-success"></div>
<script id="ticketInfo" type="text/x-handlebars-template">
    Ticket creado con el ID: {{id}}
</script>


<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/moreFunction.js"></script>
<script type="text/javascript" src="../js/properties.js"></script>

</html>