body {
  font-size: 13px;
}

label {
  padding-top: 8px;
}

#name, #notes {
  width: 95%;
}

#notes {
  height: 5em;
}

button {
  margin-top: 8px;
  margin-bottom: 12px;
}
div {
        background-color:#F5F5F5;
        border-radius:10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    } 
