<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
Hi spring boot!!!! 

<span th:text="${titulo}"></span>
</body>
</html>